<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-body">
          نضر الله عبدا سمع مقالتي فوعاها وحفظها وبلغها من لم يسمعها، فرب حامل فقه غير فقيه ورب حامل فقه إلى من هو أفقه
          منه، ثلاث لا يغل عليهن قلب امرئ مسلم: إخلاص العمل لله، والنصحية لائمة المسلمين، واللزوم لجماعتهم، فإن دعوتهم
          محيطة من ورائهم، المسلمون إخوة تتكافى دماؤهم ويسعى بذمتهم أدناهم.
        </div>
        <div class="card-footer">
          <span class="badge badge-success float-right">علم الحديث</span>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>

