<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <table class="table" style="width: 100%;">
            <thead>
            <th>Tag</th>
            <th>Last Updated On</th>
            <th>
              <button type="button" class="btn btn-success btn-sm" data-toggle="modal" (click)="addNew()"
                      [disabled]="!userHasAddPermission()"
                      [title]="!userHasAddPermission() ? 'You don\'t have permission' : ''">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </th>
            </thead>
            <tbody>
            <tr *ngFor="let tag of hadithTags; let i = index">
              <td>
                <span [hidden]="tag._isEditing">{{ tag.name }}</span>
                <input [hidden]="!tag._isEditing" [(ngModel)]="tag.name"/>
              </td>
              <td style="width:1%; white-space: nowrap;">
                {{ formatTime(tag.updated_on) }}
              </td>
              <td style="width: 1%; white-space: nowrap">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" (click)="startEditing(tag)"
                        [hidden]="tag._isEditing" [disabled]="!userHasEditPermission()"
                        [title]="!userHasEditPermission() ? 'You don\'t have permission' : ''">
                  <fa-icon [icon]="faPencilAlt"></fa-icon>
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" (click)="finishEditing(tag)"
                        [hidden]="!tag._isEditing">
                  <fa-icon [icon]="faSave"></fa-icon>
                </button>

                &nbsp;

                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                        (click)="showDeleteDialog(tag, deleteModal)" [hidden]="tag._isEditing"
                        [disabled]="!userHasDeletePermission()"
                        [title]="!userHasDeletePermission() ? 'You don\'t have permission' : ''">
                  <fa-icon [icon]="faMinus"></fa-icon>
                </button>
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" (click)="cancelEditingByIndex(i)"
                        [hidden]="!tag._isEditing">
                  <fa-icon [icon]="faTimes"></fa-icon>
                </button>
              </td>
            </tr>
            </tbody>
          </table>

          <hh-page-nav [count]="pageCount" (change)="onPageChanged($event)"></hh-page-nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
        <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the entity? This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteEntity(deleteModal)">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
