<div class="container" *ngIf="hadith !== null">
  <h2>
    Hadith {{ id }}

    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" (click)="startEditing(hadith)"
            [hidden]="hadith._isEditing" [disabled]="!userHasEditPermission()"
            [title]="!userHasEditPermission() ? 'You don\'t have permission' : ''">
      <fa-icon [icon]="faPencilAlt"></fa-icon>
    </button>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" (click)="finishEditing(hadith)"
            [hidden]="!hadith._isEditing">
      <fa-icon [icon]="faSave"></fa-icon>
    </button>

    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
            (click)="showDeleteDialog(hadith, deleteModal)" [hidden]="hadith._isEditing"
            [disabled]="!userHasDeletePermission()"
            [title]="!userHasDeletePermission() ? 'You don\'t have permission' : ''">
      <fa-icon [icon]="faMinus"></fa-icon>
    </button>
    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" (click)="cancelEditing(hadith)"
            [hidden]="!hadith._isEditing">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </h2>

  <div>
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="text">Text</label>
        <textarea id="text" class="form-control" rows="10" [(ngModel)]="hadith.text" [disabled]="!hadith._isEditing">
        </textarea>
      </div>
    </div>

    <!--<div class="row">-->
      <!--<div class="form-group col-sm-12">-->
        <!--<label>Person</label>-->
        <!--<div ng-show="!ctrl.isEditing">-->
          <!--<hh-entity entity-id="{{ ctrl.entity.person }}" type="person" mode="clickable-badge"></hh-entity>-->
        <!--</div>-->
        <!--<hh-tags-input entities="ctrl.personExpanded" type="person" selection-mode="single" ng-show="ctrl.isEditing"></hh-tags-input>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="form-group col-sm-12">-->
        <!--<label>Book</label>-->
        <!--<div ng-show="!ctrl.isEditing">-->
          <!--<hh-entity entity-id="{{ ctrl.entity.book }}" type="book" mode="clickable-badge"></hh-entity>-->
        <!--</div>-->
        <!--<hh-tags-input entities="ctrl.bookExpanded" type="book" selection-mode="single" ng-show="ctrl.isEditing"></hh-tags-input>-->
      <!--</div>-->
    <!--</div>-->

    <div class="row">
      <div class="form-group col-sm-12" [hidden]="!hadith._isEditing">
        <label>Tags</label>
        <div>
          <hh-entity-selector [ids]="hadith.tags" (selection-changed)="onTagDeleted($event)"></hh-entity-selector>
        </div>
      </div>
      <div class="form-group col-sm-12" [hidden]="hadith._isEditing" >
        <label>Tags</label>
        <div>
          <hh-entity-label [entity-id]="tag" entity-type="hadithtag"
                           *ngFor="let tag of hadith.tags"></hh-entity-label>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
        <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the hadith? This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteEntity(deleteModal)">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
