<div class="btn-toolbar mb-2" role="toolbar" aria-label="Page navigation and entity creation">
  <div class="btn-group ml-auto mr-auto" role="group" aria-label="Page navigation" *ngIf="pageCount > 1">
    <button type="button"
            [class]="page <= 1 ? 'btn btn-secondary disabled' : 'btn btn-secondary'"
            (click)="setPage(page - 1)">&#x00AB;
    </button>
    <button type="button"
            *ngFor="let i of pageRange()"
            [class]="i == page ? 'btn btn-secondary active' : 'btn btn-secondary'"
            (click)="setPage(i)">{{ i }}
    </button>
    <button type="button"
            [class]="page >= pageCount ? 'btn btn-secondary disabled' : 'btn btn-secondary'"
            (click)="setPage(page + 1)">&#x00BB;
    </button>
  </div>
</div>
