<div class="container">
  <div *ngFor="let hadith of hadiths">
    <!-- TODO: Do wee need delete button in hadith listing page?
    <button type="button"
            class="btn btn-danger btn-sm"
            ng-click="ctrl.showDeleteDialog(entity)"
            ng-if="ctrl.userHasDeletePermission()">
      X
    </button>
    -->

    <a [href]="'/hadith/' + hadith.id">
      {{ hadith.text | truncate:500 }}
    </a>

    <!--
    FIXME: Not implemented yet.
    <span *ngFor="tagId in hadith.tags">
      <hh-entity entity-id="{{ tagId }}" type="hadithtag" mode="clickable-badge"
                 click-callback="ctrl.onHadithTagClicked(entity)"></hh-entity>
    </span>
    -->
    <hr/>
  </div>
</div>
