<div *ngIf="error">
  Couldn't load tag or the tag is not found.
</div>
<div class="container" *ngIf="!error && hadithTag != null">
  <h2>
    {{ hadithTag.name }}
    <button class="btn btn-secondary btn-sm" aria-hidden="true"
            (click)="startEditing()"
            [hidden]="isEditing"
            *ngIf="authService.loggedInUserHasPermission('change_hadithtag')">
      <fa-icon [icon]="faPencil"></fa-icon>
    </button>

    <button class="btn btn-secondary btn-sm" aria-hidden="true"
            (click)="cancelEditing()"
            [hidden]="!isEditing || isAddingNew"
            *ngIf="authService.loggedInUserHasPermission('change_hadithtag')">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>

    <button class="btn btn-secondary btn-sm" aria-hidden="true"
            (click)="finishEditing()"
            [hidden]="!isEditing"
            *ngIf="authService.loggedInUserHasPermission('change_hadithtag')">
      <fa-icon [icon]="faSave"></fa-icon>
    </button>
  </h2>

  <form>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" name="name" [(ngModel)]="hadithTag.name" [disabled]="!isEditing" />
      </div>
    </div>
  </form>
</div>
