<div class="hh-entity-selector form-control">
  <span class="hh-entity-selector-tags" *ngFor="let entity of entities; let i = index">
    <span class="badge badge-primary">
      {{ entity.toString() }}
      <span class="btn-sm fa fa-times" (click)="deleteEntity(i)" aria-hidden="true" style="cursor: pointer;">

      </span>
    </span>
  </span>
  <span #autoCompleteDropDown class="dropdown hh-entity-selector-input">
    <input #input type="text" [(ngModel)]="text" (ngModelChange)="textChanged()"
           (keypress)="onKey($event)" (keydown)="onKey($event)"/>
    <span class="dropdown-menu">
      <a class="dropdown-item" *ngFor="let entity of autoCompleteEntries" href="#" (click)="addEntity(entity)">
        {{ entity.toString() }}
      </a>
    </span>
  </span>
</div>

